body{
  margin:0;
  padding:0;
  font-family: monospace;
}

/* Global */
a{
  text-decoration: none;
  color:white;
}

a:hover{
  color:#578180;
}

span{
  color:#578180;
}

img{
  width: 100%;
}

li{
  list-style: none;
  display:inline;
  padding-right: 10px;
}

.button{
  padding: 25px;
  background-color: transparent;
  color: white;
  border-color:white;
  border-width: 1px;
  border-radius: 5px;
}

.button:hover{
  background-color: white;
  color:#578180;
}

/* Body */
header{
  background-color: #293F50;
  color:white;
  font-family: monospace;
  display:flex;
  justify-content:center;
  gap:400px;  /*Allows to put gap in-between the flex property*/
  padding-top: 50px;
  padding-left: 50px;
}

/* Part with button */
.showcase{
  background-color: #293F50;
  color: white;
  padding:75px 250px;
  text-align: center;
  font-size:20px;
}

.container{
  float:left;
  width: 40%;
  padding: 5%;
  clear:both;
}

footer{
  clear:both;
  background-color: #293F50;
  padding:30px 50px;
  display:flex;
  gap:400px;
  justify-content: center;
}

/* @media(max-width:768px){
  body{
    margin:auto;
    padding:auto;
  }

  header{
    flex:none;
  }
} */